APP_PORT=your-application-port(ex : 4000)
DB_DIALECT=your-database-dialect(ex: mysql / postgres)
DB_HOST=your-database-host
DB_PORT=your-database-port
DB_DATABASE=your-database-name
DB_USERNAME=your-database-username
DB_PASSWORD=your-database-password
NODE_ENV=your-envirotment(ex: development / production). For development please use env, development.

DB_DIALECT_TEST=your-database-dialect(ex: mysql / postgres)
DB_HOST_TEST=your-database-host
DB_PORT_TEST=your-database-port
DB_DATABASE_TEST=your-database-name
DB_USERNAME_TEST=your-database-username
DB_PASSWORD_TEST=your-database-password
NODE_ENV_TEST=test